* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  border: 3px solid black;
  width: min(80%, 400px);
  aspect-ratio: 1 / 1.5;
  display: flex;
  flex-direction: column;
}

.display {
  border: 2px solid black;
  flex-grow: 0.3;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.display > p {
  font-size: 35px;
}

.buttons {
  border: 1px solid black;
  flex-grow: 4;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.tools > div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.close {
    background-color: #ff5f57;
}

.mini {
    background-color: #ffbd2e;
}

.en {
  background-color: #28ca41;
}

button { 
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;   
  background: none;
  font-size: inherit;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.buttons > div {
  border: 1px 1px solid black;
  display: flex;
  flex-grow: 1;
}

.buttons > div > div {
  border: 1px solid black;
  width: 25%;
  display: flex;
}

.fifthLine > div:nth-child(1) {
  border: 1px solid black;
  flex-grow: 2;
}
