* {
	margin: 0;  /* 웹브라우저(크롬, 엣지, 파이어폭스, 오페라)마다 기본 마진값이 다르기 때문에 통일해서 코딩하기 위해 설정해주는 기본 값 */
	padding: 0; /* 웹브라우저(크롬, 엣지, 파이어폭스, 오페라)마다 기본 패딩값이 다르기 때문에 통일해서 코딩하기 위해 설정해주는 기본 값 */
	box-sizing: border-box; /* 제가 지금 main을 400x600으로 설정했는데 얘가 지금 패딩이나 마진값을 10px이런거 줬을때 그 값때문에 400x600 사이즈가 변경되는 불상사를 막기 위한 세팅 : 얘가 있음으로 인해서 마진값과 패딩값을 포함해서 400, 600이 되게 합니다 */
}

html, body {
  height: 100%; /* 웹페이지 전체를 기준으로 세로값을 쓰겠다(창모드에서 사이즈를 줄여도 100%가 되게 하겠다 */
}

.container {
  height: 100%; /* 부모요소를 기준으로 세로값을 쓰겠다(창모드에서 사이즈를 줄여도 100%가 되게 하겠다 */
  display: flex; /* 존재자체로는 자식요소들을 가로정렬하는 기능을 가지고 있지만 여기선 물을 보관하기위한 물병의 역할만 한다 */
  align-items: center;  /* 세로 기준 가운데 정렬 : 물 */
  justify-content: center;  /* 가로 기준 가운데 정렬 */
}

.main {
  border: 3px solid blue;
  width: min(80%, 400px);
  aspect-ratio: 1 / 1.5;
  display: flex;
  flex-direction: column;
}

.display {
  border: 3px solid red;
  flex-grow: 1;
  margin: 10px;
}

.buttons {
  border: 3px solid yellow;
  flex-grow: 2;
  margin: 10px;
}

.tools {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.tools > div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.close {
    background-color: #ff5f57;
}

.mini {
    background-color: #ffbd2e;
}

.en {
    background-color: #28ca41;
}